<div class="robust-search-section">
    <div class="robust-search-section--top">
        <div class="robust-search--left-col">
            <h2 class="robust-search--title">A robust property search experience</h2>
            <p class="robust-search--subtitle">Helping buyers find their dream home using our property search experience.</p>
            <ul class="robust-search--list">
                <li>Multiple Location Search</li>
                <li>Custom Boundary Search</li>
                <li>Market-Specific Filter Selections</li>
                <li>Nearby Me Location Search</li>
                <li>Saved Search Functionality</li>
                <li>Email Notification Alerts</li>
            </ul>
        </div>
        <div class="robust-search--right-col">
            <picture class="robust-search--image">
                <source srcset="./img/robust-search-section/3-4-robust-property-search.png" media="(min-width:0)" />
                <img src="./img/robust-search-section/3-4-robust-property-search.png" />
            </picture>
        </div>
    </div>
    <div class="robust-search-section--bottom">
        <picture class="robust-search--image">
            <source srcset="./img/robust-search-section/5-image of search desktop.png" media="(min-width:0)" />
            <img src="./img/robust-search-section/5-image of search desktop.png" />
        </picture>
    </div>
</div>
