.robust-search-section {
    margin: 60px auto;
    max-width: $max-content-width;
}
.robust-search-section--top {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.robust-search--left-col {
    margin: 0 $section-margin;
}
.robust-search--title {
    @include h2;
}
.robust-search--subtitle {
    @include italic;
}

.robust-search--list {
    padding: 0;
    font-size: 18px;
    letter-spacing: .5px;
    font-family: 'Lato';
    li {
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        &:before {
            content: "";
            background-image: url('./img/bullets.svg');
            background-repeat: no-repeat;
            height: 30px;
            width: 40px;
            margin-right: 10px;
            display: inline-block;
        }
    }
}
.robust-search--right-col {
    display: block;
    margin-top: 40px;
}

.robust-search--image img {
    max-width: 100%;
}
.robust-search-section--bottom {}

@media (min-width: $mobile-breakpoint) {
    .robust-search-section--top {
        display: flex;
        flex-direction: row;
    }
    .robust-search--left-col {
        width: 40%;
        margin-right: 60px;
    }
    .robust-search--right-col {
        width: 60%;
    }
}
