<div class="hero">
    <picture class="hero--bg-image">
        <source srcset="<<<IMAGE_HOST>>>/img/hero/hero.png" media="(min-width:0)" />
        <img src="<<<IMAGE_HOST>>>/img/hero/hero.png" />
    </picture>

    <div class="hero--text-overlay">
        <div class="hero--text-overlay-container">
            <h1 class="hero--title">The Merlin Platform</h1>
            <p class="hero--sub-title">Making homeownership more accessible.</p>
            <p class="hero--sub-sub-title">case study | January 2020</p>
        </div>
    </div>
</div>
