<div class="outcomes-section">
  <div class="outcomes-section--top">
    <h2 class="outcomes--title">Outcomes</h2>
    <p class="outcomes--intro">Merlin Labs extended the platform to 7 brokerage tenants and themed each website to match existing brand colors and typography</p>
    <p class="outcomes--intro">Overall we had 5 websites in alpha, 1 website in beta, and 1 website in production.</p>
  </div>
  <div class="outcomes--col-container">
    <div class="outcomes--left-col">
      <div class="outcomes--left-col-title">Increase in consumer engagement</div>
      <div class="outcomes--left-col-subtitle">for BHHS Kansas City Realty since their launch in June 2019.</div>
      <ul class="outcomes--list">
        <li>Registrations are up 267% year-over-year</li>
        <li>Leads are up 65% year-over-year</li>
        <li>Sessions are up 75% year-over-year</li>
        <li>Users are up 73% year-over-year</li>
        <li>New Users are up 70% year-over-year</li>
        <li>Bounce rate is down 46% year-over-year</li>
        <li>Pageviews are up 84% year-over-year</li>
      </ul>
    </div>
    <div class="outcomes--right-col">
      <picture class="outcomes--image">
        <source srcset="./img/outcomes-section/outcomes.png" media="(min-width:0)" />
          <img src="./img/outcomes-section/outcomes.png" />
      </picture>
    </div>
  </div>
</div>
