.intro-section {
    @include intro-text; 
    text-align: center;

    margin: 60px auto;
    max-width: $max-content-width;

}

.intro-section--content {
    margin: 0 auto;
}

.intro-section--mobile {
    display: block;
    margin-top: 60px;
    img {
        max-width: 100%;
    }
}

.intro-section--copy {
    @include body-copy-font;
}