<div class="intro-section">
    <div class="intro-section--content content-width-limit">
        <p>Merlin Labs, the Center of Innovation for HomeServices of America, was established in October 2017 in Austin, TX.</p>
        <p>One of Merlin's overarching product goals is to <em>create a consumer-led real estate platform that empowers more people to experience homeownership and connect them with the right experts (our agents and mortgage loan officers) to guide them through the process.</em> </p>
        <p>The two core offerings of the Merlin Platform are the Brokerage Website and the Content Management System.</p>
    </div>
    <picture class="intro-section--mobile">
        <source srcset="<<<IMAGE_HOST>>>/img/responsive-section/2-image of search.png" media="(min-width:0)" />
        <img src="<<<IMAGE_HOST>>>/img/responsive-section/2-image of search.png" />
    </picture>

    <p class="intro-section--copy">The Merlin Platform is a responsive website that works great across desktop to mobile devices.</p>
</div>
