.footer {
    background: $dark-gray;
    color: #fff;
}
.footer--title {
    @include h2;
}
.footer--subtitle {
    font-family: 'Lato', sans-serif;
    max-width: 70vw;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
    letter-spacing: .25px;
}
