<div class="two-col-img-with-text @@orientation">
    <div class="two-col-img-with-text--content">
        <div class="two-col-img-with-text--left-col">
            <h2 class="two-col--title">@@title</h2>
            <p class="two-col-subtitle">@@subtitle</p>
            <p class="two-col-body-copy">@@bodycopy</p>
        </div>
        <div class="two-col-img-with-text--right-col">
            <picture class="two-col-img-with-text--image">
                <source srcset="@@img" media="(min-width:0)" />
                <img src="@@img" />
            </picture>
        </div>
    </div>
</div>