.two-col-img-with-text {
    max-width: $max-content-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.two-col--title {
    @include h2;
}
.two-col-subtitle {
    @include italic;
}
.two-col-body-copy {
    @include bodycopy;
}
.two-col-img-with-text--right-col {
}
.two-col-img-with-text--image img {
        max-width: 100%;
}

@media (min-width: $mobile-breakpoint) {
    .two-col-img-with-text--content {
        display: flex;
    }

    .two-col-img-with-text--left-col {
        width: 40%;
    }

    .two-col-img-with-text--right-col {
        width: 60%;
    }

    .two-col-img-with-text {
        &.img-left {
            .two-col-img-with-text--left-col {
                order: 2;
            }
            .two-col-img-with-text--right-col {
                order: 1;
                margin-right: 50px;
            }
        }
        &.img-right {
            .two-col-img-with-text--left-col {
                margin-right: 50px;
            }
        }
    }
}
